//hojas secundarias
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "utilidades/personajes";
@import "utilidades/fun-facts";
@import "utilidades/memes-falopa";
@import "utilidades/comunidad";

@media screen and (min-width:1024px){
    /estilos de menú/
    header {
        nav {
            display: block;
            background-color: #212529;
            height: 80px;
            padding: 30px;
                ul{
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                justify-content:space-around;
                align-items: center;
                    li{
                        a{
                        color: #E9ECEF;
                        text-decoration: none;
                        text-shadow: 1px 1px 3px black;
                        font-size: 1.3rem;
                        transition: 1s;
                        &:hover{
                            @include botones
                        }
                        }
                    }
                }
            }
            .dropdown{
                display: none;
            }
        }
 }