/*estilos de memes*/
main{
    .contenedor-main{
        .contenedor-memes{
            display: flex;
            flex-direction: column;
            align-items: center;
            @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            }
            @include desktop{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            }
            }
            .meme{
                padding: 15px;
            }
            }
         }